@model Animal_Store.Models.wish_list

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>wish_list</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.pet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pet.ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer.ID)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
